footer {
    border-top: 1px solid #5c5c5c;
    border-bottom: 1px solid #5c5c5c;
    background-color: #202020;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

#footer_1 {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

#footer_1 > a {
    font-size: 30px;
    letter-spacing: 3px;
    text-decoration: none;
    color: #bebebe;
    font-weight: 800;
}

#footer_1 > a:hover{
    color: #ffffff;
}

#footer_license {
    font-size: 13px;
    color: #5c5c5c;
}

#footer_2 {
    flex: 9;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#footer_info {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-size: 14px;
    padding-top: 32px;
    color: #5c5c5c;
}

#footer_info > a {
    text-decoration: none;
    font-size: 15px;
    color: #bebebe;
    font-weight: 600;
    padding: 0 20px;
    border-right: 1px solid #5c5c5c;
}

#footer_info > a:last-child {
    border-right: none;
    padding-right: 0;
}

#footer_info > a:hover {
    color: #3939ff;
}
